<div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
	<div class="mt-10 mx-auto">
  	<h2 class="text-3xl font-extrabold tracking-tight text-gray-900">Your campaigns</h2>
			<div class="mt-6">
		    <%= link_to "New campaign", new_campaign_path, class:"inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
		  </div>
		  <div class="flow-root mt-6">
		    <ul role="list" class="-my-5 divide-y divide-gray-200">
		    	<%= render partial:"campaigns/campaign", collection: @campaigns %>
		    </ul>
		  </div>
		  
		</div>
	</div>
</div>
